@import "../node_modules/react-vis/dist/style.css";

body {
  background-color: #151515;
}

.plot-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.plot {
  background-color: #181818;
  color: #fff;
  margin: 6px 0;
}

.btn {
  border: none;
  background: #fff;
  color: #000;
  cursor: pointer;
  padding: 15px;
  border-radius: 3px;
}

.btn-control {
  padding: 7px 12px;
  text-align: center;
  border-radius: 0;
}

.btn-info {
  color: #222;
  background-color: #f7e161;
}

.btn-info:hover {
  background-color: #f9df48;
}

.btn-info:focus{
  border: 1px solid #5d4343;
}

.btn-danger {
  color: #fff;
  background-color: #ff4136;
  background-color: #ce2339;
}

.btn-danger:hover {
  background-color: #ff3836;
}

.btn-success {
  color: #fff;
  background-color: #2ecc40;
  background-color: #01FF70;
}

.btn-success:hover {
  background-color: #2ecc40;
}

.btn:active {
  transform: translateY(1px;);
}

.number-inputs {
  display: flex;
  margin-top: 6px;
}

.number-input {
  display: flex;
  margin-left: 4px;
}

.number-input input {
  width: 70px;
  text-align: center;
}

.number-input-wrapper {
  text-align: center;
  color: #eee;
  font-size: 16px;
}
