@import "../node_modules/react-vis/dist/style.css";

body {
  /*background-color: #151515;*/
  font-family: monospace;
}

.plot-wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.plot {
  background-color: #181818;
  color: #fff;
  margin: 6px 0;
}

.btn {
  border: 1px transparent;
  background: #fff;
  color: #000;
  cursor: pointer;
  padding: 12px 20px;
  border-radius: 3px;
}

.btn-group .btn{
  margin-right: 10px;
}

.btn-control {
  padding: 7px 12px;
  text-align: center;
  border-radius: 0;
}

.btn-info2 {
    color: #fff;
    background-color: #0082c8;
}

.btn-info2:hover {
    background-color: #0077b9;
}

/*.btn-info2:focus{*/
    /*border: 1px solid #5d4343;*/
/*}*/

.btn-info {
  color: #222;
  background-color: #f7e161;
}

.btn-info:hover {
  background-color: #f9df48;
}

/*.btn-info:focus{*/
  /*border: 1px solid #5d4343;*/
/*}*/

.btn-danger {
  color: #fff;
  background-color: #ce2339;
}

.btn-danger:hover {
  background-color: #ff3836;
}

.btn-success {
  color: #fff;
  background-color: #01FF70;
}

.btn-success:hover {
  background-color: #2ecc40;
}

.btn:active {
  transform: translateY(1px);
}

.number-inputs {
  display: flex;
  margin-top: 6px;
  margin-bottom: 6px;
}

.number-input {
  display: flex;
  margin-left: 4px;
}

.number-input input {
  width: 70px;
  text-align: center;
}

.number-input-wrapper {
  text-align: center;
  /*color: #eee;*/
  font-size: 16px;
}

.info-text {
    /*color: white;*/
}

.points-counter {
    /*color: white;*/
    position: absolute;
    left: 60px;
    top: 570px;
}

.numeric-input {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-left: 10px;
}

.disabled-tab{
  background: #ddd;
}


table {
  border-collapse: collapse;
  width: 100%;
}

th, td {
  text-align: center;
  padding: 8px;
}

th {
  background-color: #4CAF50;
  color: white;
}