@import "../node_modules/react-vis/dist/style.css";

body {
  background-color: #323232;
}

.plot-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.plot {
  background-color: #323232;
  color: #fff;
  margin: 6px 0;
}

.btn {
  border: none;
  background: #fff;
  color: #000;
  cursor: pointer;
  padding: 15px;
  border-radius: 3px;
}

.btn-success {
  color: #fff;
  background-color: #008080;
  box-shadow: -1px 2px #003030;
}

.btn-success:hover {
  background-color: #206060;
}

.btn-success:active {
  background-color: #006060;
  box-shadow: 0 1px #003030;
  transform: translate(-1px, 1px);
}
